<ion-header mode="ios">

  <ion-toolbar >
    <ion-buttons slot="start">
      <ion-button (click)="backHome()">
        <ion-icon name="arrow-back"  ></ion-icon>
      </ion-button>
    </ion-buttons>


    <ion-title style="font-family: Pacifico;color: #f9aa33">Destination</ion-title>
  </ion-toolbar>

</ion-header>
<ion-content [fullscreen]="true">
    <div id="map"></div>


<!--  <button class="bottom" ion-button clear full color="light">Don't have an account? Sign up</button>-->
</ion-content>
