<ion-tabs  mode="ios">
  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="driver-home">
      <ion-icon name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="driver-profile">
      <ion-icon name="person-circle"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="driver-chat">
      <ion-icon name="chatbubbles"></ion-icon>
      <ion-label>Chat</ion-label>
      <!--        <ion-badge>6</ion-badge>-->
    </ion-tab-button>

    <ion-tab-button tab="driver-settings">
      <ion-icon name="file-tray-full"></ion-icon>
      <ion-label>Settings</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
